.app-header {
    background-color: #F7931A;
    color: white;

    .logged-user-header {
        display: flex;
        align-items: center;
        gap: 0.2em;

        a {
            display: flex;
            align-items: center;
            color: white;
            text-decoration: none;
            gap: 0.2em;
        }
    }



    .bitcoin-rate-header {
        span {
            display: flex;
            align-items: center;

        }
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 0.3em;
    }

    .bitcoin-logo {
        width: 25px;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        min-height: 5vh;
        align-items: center;
        max-width: 1024px;
        margin: 0 auto;
        padding-inline: 1em;

        .nav-header {
            display: flex;
            gap: 2em;

            a {
                color: white;
            }

        }
    }
}