.contact-details {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;

    .back {
        background: #bcbabc;
        border: none;
        padding: 0.5em 1em;
        color: white;
        font-family: "Quicksand";
        cursor: pointer;
    }

    .trsc-list {
        max-height: 150px;
        overflow-y: auto;
    }

    img {
        width: 150px;
    }

    form {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        border: 1px solid #bcbabc;
        margin: auto;
        width: 500px;
        padding: 2em;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

        label {
            border: 1px solid #bcbabc;
            padding: 0.3em;
            border-radius: 3px;

            input {
                border: none;
                outline: none;
                height: 20px;
                padding-left: 0.3em;
            }
        }

        img {
            width: 50px
        }

        h1 {
            color: #1C1F30;

        }

        button {
            width: 250px;
            height: 30px;
            border: none;
            background: #0c3c4c;
            color: white;
            border-radius: 3px;
            font-family: 'Quicksand';
            font-size: 16px;
            cursor: pointer;


        }
    }
}