@font-face {
    font-family: montserrat;
    src: url('../../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Inter;
    src: url('~@/assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: Inter-Bold;
    src: url('../../fonts/Inter-Bold.ttf');
}